*{
    margin: o;
    font-family: 'Work Sans', sans-serif;
}
/* header styles */
.first-title{
    position: absolute;
width: 525px;
height: 228px;
left: 845px;
top: 216px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: right;

color: #FFFFFF;
}
        
li::marker {
    color: rgb(0, 238, 255);
    content: "✓";
  }


 
.first-subtitle{
    position: absolute;
width: 494px;
height: 78px;
left: 876px;
top: 468px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

/* or 162% */
text-align: right;

color: #FFFFFF;


}

.button{
    padding: 21px 26px;
  
    position: absolute;
width: 109px;
height: 23px;
left: 1235px;
top: 596px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #005FAC;


}

.person{
    position: absolute;
width: 451px;
height: 898px;
left: 277px;
top: 948px;

background: url(ff.png);
}

.main-title{ 
    position: absolute;
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    
    /* Dark 01 */
    color: #151414;}

    .main-sub-title{
        position: absolute;
width: 416px;
height: 104px;
left: 883px;
top: 1312px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

/* or 162% */

/* Dark 02 */
color: #444343;

}

.list{
    position: absolute;
    width: 272px;
    height: 26px;
    left: 917px;
    top: 1500px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    
    /* identical to box height, or 162% */
    
    /* Dark 02 */
    color: #444343;
    
}

.section-title{
    position: absolute;
width: 179px;
height: 47px;
left: 765px;
top: 1792px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;

/* identical to box height */
text-align: center;

/* Dark 01 */
color: #151414;


}


/* my plans style */
.my-plans{
    margin-top: 130px;
    position: absolute;
    text-align: center;
width: 1141px;
height: 299.96px;
left: 230px;
top: 1792.3px;



}
.skills-container{
    display: flex;
    gap: 34px;
    position: absolute;
}


/* next section */
.watch{

    background-image:url('../images/watch.png') ;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

    position: absolute;
width: 1140px;
height: 300px;
left: 230px;
top: 2216.3px;

background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
border-radius: 8px;
}
/* this is watch */
.watch-title{
    position: absolute;
width: 459px;
height: 94px;
left: 298px;
top: 2272px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;

color: #FFFFFF;


}

.div-watch{
    position: absolute;
width: 463px;
height: 185.3px;
left: 294px;
top: 2272px;


}
.call{
    position: absolute;
width: 88px;
height: 23px;
left: 330px;
top: 2414.3px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #F15B22;


}

/* footer */






.footer{
    position: absolute;
width: 1600px;
height: 577px;
left: 23px;
top: 2652px;

/* Dark 01 */
background: #151414;
}


.footer-title{
    position: absolute;
    width: 159.6px;
    height: 56.84px;
    left: 192px;
    top: 2752px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    
    color: #F8F8F8;
    
    
}
.future-sub-title{
    position: absolute;
    width: 523px;
    height: 83.65px;
    left: 192px;
    top: 2826px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    
    /* or 162% */
    
    color: #FFFFFF;
    
    
/* footer right */
.sub{
    position: absolute;
width: 123px;
height: 29px;
left: 1046px;
top: 2781.96px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 29px;

color: #ffffff;

  
}

.form-class{
    position: absolute;
    width: 325px;
    height: 64px;
    left: 1046px;
    top: 2841.96px;
    
    position: absolute;
    width: 146px;
    height: 21px;
    left: 1067px;
    top: 2862.96px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    /* Dark 07 */
    color: #F3F3F3;
    
        

}



.button-subscribe{
    position: absolute;
    width: 98.06px;
    height: 24px;
    left: 1082.02px;
    top: 2941.96px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
    position: absolute;
width: 170.11px;
height: 64px;
left: 1046px;
top: 2921.96px;

background: #005FAC;
border-radius: 8px;
border: none;
    
}
